.header {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    height: 80px;
    background-color: #eeeeee;
}

.logo {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.vertical-align-content > *
{
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
    overflow: hidden;
}

@media only screen and (min-width:640px) and (min-device-width:640px) {
    .fullscreen-dialog {
        min-width: 600px;
    }
}

md-dialog.loader-dialog {
    width: 400px !important;
    min-width: unset !important;
}

div.header-buttons {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

/*md-toolbar:not(.md-menu-toolbar).message-info {*/
    /*background-color: #488aff;*/
    /*color: #F1FAEE;*/
/*}*/

md-toolbar.error-info {
    background-color: #E63946;
    color: #F1FAEE;
}

#loading-bar .bar{
    background: #488aff !important;
}

.content {
    padding: 30px;
}

img.list-item-thumbnail {
    /*width: 100% !important;*/
    /*max-height: 60px !important;*/
    /*height: 100% !important;*/
    /*-webkit-border-radius: 0 !important;*/
    /*-moz-border-radius: 0 !important;*/
    /*border-radius: 0 !important;*/
    /*max-width: 100px !important;*/

    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
}

image-viewer {
    background: transparent;
}

image-viewer .imageViewerContainer{
    height: 100%;
    margin: 0 auto !important;
    max-height: 100%;
}

image-viewer .threesixty {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
image-viewer .threesixty .threesixty_images {
    display: block;
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 0;
}

image-viewer .threesixty .threesixty_images li{
    display: block;
    margin: 0 auto;
    width: inherit;
}

image-viewer .threesixty .threesixty_images img {
    position: absolute;
    display: block;
    top: 0;
    max-height: 100%;
    margin: 0 auto;
}
image-viewer .threesixty .threesixty_images img.previous-image {
    visibility: hidden;
    /*
             Do not put here any other styles.
             It causes massive recalc / repaints and image flickering,
             especially on Firefox.
          */

}
image-viewer .threesixty .threesixty_images img.current-image {
    visibility: visible;
    /*
             Do not put here any other styles.
             It causes massive recalc / repaints and image flickering,
             especially on Firefox.
          */

}
image-viewer .threesixty .spinner {
    width: 120px;
    margin: 0 auto;
    height: 30px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
image-viewer .threesixty .spinner span {
    font-family: Arial, "MS Trebuchet", sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: #FFF;
    text-align: center;
    line-height: 30px;
    display: block;
}
image-viewer .threesixty .nav_bar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 11;
}
image-viewer .threesixty .nav_bar a {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    /*background: url(/assets/sprites.png) no-repeat;*/
    text-indent: -99999px;
}
image-viewer .threesixty .nav_bar a.nav_bar_play {
    background-position: 0 0 !important;
}
image-viewer .threesixty .nav_bar a.nav_bar_previous {
    background-position: 0 -73px !important;
}
image-viewer .threesixty .nav_bar a.nav_bar_stop {
    background-position: 0 -37px !important;
}
image-viewer .threesixty .nav_bar a.nav_bar_next {
    background-position: 0 -104px !important;
}
/* html */
image-viewer .threesixty:-webkit-full-screen {
    background: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 200px;
}
image-viewer .threesixty:-moz-full-screen {
    background: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 200px;
}

/******/

md-grid-tile-footer figcaption{
    width: 100%;
}

/*.md-button.md-fab.md-mini.micro {*/
    /*line-height: 20px;*/
    /*width: 20px;*/
    /*height: 20px;*/
/*}*/

.md-button.md-fab.transparent{
    background-color: rgba(0,0,0,.28);
}

.md-button.md-fab.transparent:hover{
    background-color: #222;
}